{% extends 'layout.html' %}
{% load socialaccount %}
{% block content %}
<section class="hero is-dark is-large" id="home-hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">
                Ready to spin the wheel?
            </h1>
            <article class="subtitle has-text-centered">
                <p>
                    Too many games in your Steam library ?
                </p>
                <p>Playing the same old game again & again ?</p>
                <p>Let chance, or your friends, decide what you will play next!</p>
                {% if not user.is_authenticated %}
                <p>
                    <a class="button is-large is-primary" href="{% provider_login_url 'steam' %}">
                        <span class="icon is-large">
                            <i class="fab fa-steam"></i>
                        </span>
                        <strong>Sign up with Steam</strong>
                    </a>
                </p>
                {% endif %}
            </article>
        </div>
    </div>
</section>
{% endblock content %}
