{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <section class="section container">
        <div class="columns">
            <div class="column is-one-third">
                Displayed game
                {{ game }}
            </div>
            <div class="column is-one-third">
                <h2 class="title is-4">I'm feeling aventurous</h2>
                <p>Ready for a challenge ?</p>
                <p>Let the system pick a unplayed game in your library for you. This game will be locked as "playing" in
                your library for a month.</p>
                <img class="image" src="{% static "home/img/danger.jpg" %}"/>
                <a class="button is-danger is-medium" href="#">Let's pick a game!</a>
            </div>

        </div>
    </section>
{% endblock content %}
