[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
steam = "*"
"psycopg2-binary" = "*"
django-environ = "*"
django-admin-autocomplete-filter = "*"
django-webpack-loader = "*"
django-allauth = "*"

[requires]
python_version = "3.6"
