<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {% if page.has_previous %}
        <a class="pagination-previous" href="?page={{ page.previous_page_number }}">Previous</a>
    {% else %}
        <a class="pagination-previous" disabled>Previous</a>
    {% endif %}
    {% if page.has_next %}
        <a class="pagination-next" href="?page={{ page.next_page_number }}">Next page</a>
    {% else %}
        <a class="pagination-next" disabled>Next page</a>
    {% endif %}

    <ul class="pagination-list">
        {% if page.number > 1 %}
            <li><a class="pagination-link" aria-label="Goto page 1" href="?page=1">1</a></li>
            {% if page.number > 3 %}<li><span class="pagination-ellipsis">&hellip;</span></li>{% endif%}
            {% if page.number > 2 %}
                <li><a class="pagination-link" href="?page={{ page.number|add:"-1" }}" aria-label="Goto page {{ page.number|add:"-1" }}">{{ page.number|add:"-1" }}</a></li>
            {% endif %}
        {% endif %}
        <li><a class="pagination-link is-current" aria-label="Page {{ page.number }}" aria-current="page">{{ page.number }}</a></li>

        {% if page.number < paginator.num_pages %}
            {% if page.number|add:1 < paginator.num_pages %}
                <li><a class="pagination-link" href="?page={{ page.number|add:1 }}" aria-label="Goto page {{ page.number|add:1 }}">{{ page.number|add:1 }}</a></li>
            {% endif %}
            {% if page.number|add:2 < paginator.num_pages %}<li><span class="pagination-ellipsis">&hellip;</span></li>{% endif %}
        <li><a class="pagination-link" aria-label="Goto page 86" href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
        {% endif %}
    </ul>
</nav>